<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
       <!---- <h1>if condition</h1>
        {% if a > 10 %}
            <h1>{{a}}</h1>
        {% endif %} --->


        <!-----
        <h1>if-else condition</h1>
        {% if a > b %}
            <h1>a is greater than b</h1>
        {% else %}
            <h1> b is greater than a</h1>
        {% endif %}
        ---->
        
        <!----
        <h1> if-elif condition</h1>
        {% if a > b and b > c %}
            <h1> a is greater than the b,c</h1>
        {% elif b > c %}
            <h1> b is greater than the c,a</h1>
        {% else %}
            <h1> c is greater than the a,b</h1>
        {% endif%}

        -->

        <h1> nested loop</h1>
        {% if a > b %}
            {% if a > c %}
                <h1> a is highest</h1>
            {% else %}
                <h1> c is highest</h1>
            {% endif %}
        {%else%}
            {% if b > c %}
                <h1> b is highest</h1>
            {%else%}
                <h1> c is highest</h1>
            {% endif %}
        {% endif %}
    </center>
</body>
</html>